$black: #2f3234;
$white: #ffffff;
$orange: #f9b43b;
$red: #e45028;
$gray: #2f3234;


@import  'addition/media';
@import  'addition/normalize';
@import  'addition/base';
@import  'addition/fonts';



@import  "./blocks/features";
@import  "./blocks/title";
@import  "./blocks/header";
@import  "./blocks/welcome";
@import  "./blocks/nav";
@import  "./blocks/btn";
@import  "./blocks/reviews";
@import  "./blocks/navigation";
@import  "./blocks/form";
@import  "./blocks/order";
@import  "./blocks/maps";
@import  "./blocks/footer";
@import  "./blocks/team";
@import  "./blocks/menu";
@import  "./blocks/logo";
@import  "./blocks/contacts";
@import  "./blocks/socials";
@import  "./blocks/hamburger-menu";
@import  "./blocks/burgers";
@import  "./blocks/modal";
@import  "./blocks/scroll";
@import  "./blocks/btn-cross";



