.btn{
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    background: $red;
    padding: 10px 15px;
    border-radius: 5px;

}

.btn_bg_gray {
    background: $gray;
}