.scroll {
    width: rem(29px);
    height: rem(14px);

}

.scroll_left {
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    right: 2%;
    z-index: 10;
    
}
.scroll_right{
    transform: rotate(90deg);
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 10;
}

