.btn{
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
    font-size: rem(13px);
    font-weight: 500;
    background: $red;
    padding: rem(10px) rem(15px);
    border-radius: rem(5px);
    border: none;

}

.btn_reset {
    background: transparent;
}
.btn_margin_top_15 {
    margin-top: 15px;
}