.order {
    background: url('./img/backgrounds/bg_order.jpg') center center / cover no-repeat;
}

.order__title {
    color: $orange;
    margin-bottom: rem(44px);

    @include tablets {
        font-size: rem(42px);
    }
}