.reviews {
    &__list {
        width: 100%;
        height:100%;
        display:flex;
        flex-wrap: wrap;
        
    }
    &__item {
        width: 25%;
        height: 50%;
        position: relative;

        @include tablets {
            width: 50%;
            height: 25%;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);  
            z-index: 1;
            display: none;
        }

        &:hover {
            &:before {
                display: block;
            }
        }
    }
    

    &__avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    &__hover {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right: 0;
        display:none;
        padding: 12% 10%;

        @include tablets {
            align-items: center;
            padding: 5% 10%;
        }
        @include phones {
            justify-content: center;
        }

        
    }
    
    &__name {
        color:$white;
        font-size: rem(14px);
        font-family: 'Gagalin';
        margin-bottom: rem(20px);
        text-transform: uppercase;
        text-align: center;
    
    }
    
    &__text {
        color: $white;
        font-size: rem(14px);
        line-height: rem(24px);
        line-height: 1.41;
        margin-bottom: rem(15px);

        @include phones {
           display: none;
        }
    }

    &__detail-text {
        visibility: hidden;
        opacity: 0;
        height: 0;
    }
    
}

.reviews__item:hover .reviews__hover {
    display: flex;
    z-index: 2;
}

.reviews__item_active{

    .reviews__name {
        color: $black;
    }

    .reviews__text{
        display: none;
    }

    .reviews__detail-text{
        visibility: visible;
        opacity: 1;
        height: auto;
        color: $black;
    }

    .btn {
        display: none;
    }


} 